/* ------------------------------- */
/* Header Section */
/* ------------------------------- */

.header-section {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 26px 0;
  z-index: 10;
  background-color: #fff;
}

.header-section .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-section .logo img {
  width: 48px;
}

.header-section .logo a {
  color: #131318;
  font-size: 36px;
  font-weight: 800;
}

.header-section .logo .text-color {
  color: #ff5400;
}

.header-section .menu ul li {
  display: inline-block;
  margin-left: 44px;
}

.header-section .menu ul li:first-child {
  margin-left: 0;
}

.header-section .menu ul li a {
  color: #424247;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.header-section .menu ul li .active-menu-link {
  color: #ff5400;
}

.header-section .menu ul li a:hover {
  color: #ff5400;
}

.header-section .menu ul li a::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #ff5400;
  transition: all 0.5s ease;
}

.header-section .menu ul li a:hover::after {
  width: 70%;
}
