* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  overflow-x: hidden;
}

body {
  text-rendering: optimizeLegibility;
  font-family: "Mulish", sans-serif;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
svg {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

span {
  display: inline-block;
}

button {
  cursor: pointer;
}

textarea {
  resize: vertical;
}
main {
  width: 100%;
  height: 100%;
}

section {
  width: 100%;
  padding: 60px 0;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.section-title-wrapper {
  text-align: center;
}

.section-title-wrapper h2 {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
}

.section-title-wrapper p {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  max-width: 577px;
  margin: 24px auto 0;
}

.primary-btn {
  display: inline-block;
  padding: 14px 35px;
  outline: none;
  border-radius: 8px;
  background-color: #ff5400;
  color: #fff;
  font-size: 20px;
  font-weight: 800;
  overflow: hidden;
  position: relative;
  z-index: 1;
  transition: all 0.5s ease;
}

.primary-btn:hover {
  transform: translateX(6px);
}

.primary-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-color: #131318;
  background-color: #131318;
  z-index: -1;
  transition: all 0.5s ease;
}

.primary-btn:hover::after {
  width: 100%;
}

.hamburger-menu {
  display: none;
}